.my_color {
    background-color: #3A546D;
}

.footer_color {
    background-color: #2C3E50;
}

.color_emerald {
    background-color: #1ABC9C;
}

.color_emerald_link {
    color: #1ABC9C;
}

hr {
    display: inline-block;
    width: 15%;
    border: 2px solid white;
    opacity: 1;
}

.second_hr {
    width: 10%;
}

/* Extra */

/* delete arrows in the number field input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    border: none;
    outline: none;
}